<div class="nav-container">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Projects
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="agents">
                <span class="bi bi-robot-nav-menu" aria-hidden="true"></span> Agents
            </NavLink>
        </div>
    </nav>
</div>
