/* ==========================================================================
   Navigation Menu Styles
   ========================================================================== */

.nav-container {
    padding: 8px;
}

/* ==========================================================================
   Navigation Icons
   ========================================================================== */

.bi {
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-cpu-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-cpu' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 1a.5.5 0 0 0-1 0V3H3V1.5a.5.5 0 0 0-1 0V3H.5a.5.5 0 0 0 0 1H1.5V5h-.5a.5.5 0 0 0 0 1H.5V7h-.5a.5.5 0 0 0 0 1H1.5V9h-.5a.5.5 0 0 0 0 1H.5V11h-.5a.5.5 0 0 0 0 1H1.5v1.5a.5.5 0 0 0 .5.5H3v-1.5a.5.5 0 0 0 1 0V13h2.5v-1.5a.5.5 0 0 0 1 0V13h3.5v-1.5a.5.5 0 0 0 1 0V13H15v-1.5a.5.5 0 0 0 .5-.5V13h1.5a.5.5 0 0 0 0-1H15V11h.5a.5.5 0 0 0 0-1H15V9h.5a.5.5 0 0 0 0-1H15V7h.5a.5.5 0 0 0 0-1H15V5h.5a.5.5 0 0 0 0-1H15V3.5a.5.5 0 0 0-.5-.5H13V3h2.5a.5.5 0 0 0 0-1H13V1.5a.5.5 0 0 0-.5-.5h-6z'/%3E%3C/svg%3E");
}

/* ==========================================================================
   Navigation Items
   ========================================================================== */

.nav-item {
    font-size: 0.8125rem;
}

.nav-item ::deep .nav-link {
    color: var(--text-sidebar-muted);
    background: none;
    border: none;
    border-radius: var(--radius-sm);
    height: 2rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    line-height: 2rem;
    width: 100%;
    transition: all var(--transition-fast);
}

.nav-item ::deep a.active {
    background-color: var(--color-lagoon);
    color: var(--text-sidebar);
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-sidebar);
}
