@using Homespun.Features.PullRequests.Data.Entities
<div class="pull-request-tree">
    @foreach (var pullRequest in PullRequests)
    {
        <FeatureNode PullRequest="pullRequest"
                     SelectedPullRequestId="@SelectedPullRequestId"
                     OnPullRequestSelected="OnPullRequestSelected"
                     Level="0" />
    }
</div>

@code {
    [Parameter]
    public List<PullRequest> PullRequests { get; set; } = [];

    [Parameter]
    public string? SelectedPullRequestId { get; set; }

    [Parameter]
    public EventCallback<string> OnPullRequestSelected { get; set; }
}
